.footer {
    padding: 70px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-content: center;
    row-gap: 30px;
    border-bottom: 1px solid rgb(207, 205, 205);
}

.contact-section {
    margin-right: 30px;
}

.contact-section p:nth-child(1) {
    color: black;
    font-size: 30px;
    font-family: "Pacifico", "Brush Script MT", cursive;
}

.contact-section span {
    color: #F6A61F;
    font-family: "Pacifico", "Brush Script MT", cursive;
}

.contact-section p:nth-child(2) {
    color: rgb(99, 99, 99);
    font-size: 20px;
    margin-top: 10px;
    font-family: "Pacifico", "Brush Script MT", cursive;
}

.contact-section p:nth-child(3) {
    display: flex;
    gap: 15px;
    color: gray;
    font-size: 15px;
    margin-top: 30px;
}

.contact-section p:nth-child(4) {
    display: flex;
    gap: 15px;
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

.contact-section p:nth-child(5) {
    display: flex;
    gap: 15px;
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

.icon {
    color: #F6A61F;
}

.icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.icon-1 {
    font-size: 18px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;
}

.icon-1:hover {
    background-color: #F6A61F;
}


.row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.row h4 {
    font-size: 14px;
    font-weight: 700;
}

.row p {
    font-size: 14px;
    color: gray;
    transition: color 0.25s;
}

.row p:hover {
    color: black;
}


@media (max-width:1024px) {
    .footer {
        padding: 70px 20px;
        grid-template-columns: 1fr 1fr;

    }
}


@media (max-width:749px) {
    .footer {
        padding: 70px 30px;
        grid-template-columns: 1fr;
    }
}