*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}


header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    height: 100%;
    width: 350px;
}

.img-box img{
    width: 100%;
}

@media (max-width:600px) {
    .img-box{
        width: 200px;
    }
    header{
        height: 70px;
    }
}
